<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
  <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">
    <img src="/assets/imgs/logo.png" width="80px" alt="App Logo">
  </a>
  <div class="mr-auto"></div>
  <ul class="nav nav-pills ">
    <li class="nav-item">
      <a class="nav-link active" (click)="logout()"> <i class="fa fa-sign-out"></i> LOGOUT</a>
    </li>
  </ul>
</nav>