<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <app-sidebar></app-sidebar>
    <div class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
        <h1>Dashboard</h1>

      <table class="table table-striped table-bordered dt-responsive nowrap">
        <thead>
          <tr>
            <th>HELLO</th>
            <th>WORLD</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>HELLO1</td>
            <td>WORLD</td>
          </tr>
          <tr>
            <td>HELLO2</td>
            <td>WORLD</td>
          </tr>
          <tr>
            <td>HELLO3</td>
            <td>WORLD</td>
          </tr>
          <tr>
            <td>HELLO4</td>
            <td>WORLD</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
