/* You can add global styles to this file, and also import other style files */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
}


button.btn{
    cursor: pointer;
}
li.nav-item a{
    cursor: pointer!important;
}